<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web & Desktop Development">
    <title>Qwerty Cube &ndash; Web & Desktop Development</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,400&text=QWERTY%20CUBE">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,400">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="app.css">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="images/favicons/site.webmanifest">
    <link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#32a0da">
    <meta name="apple-mobile-web-app-title" content="Qwerty Cube">
    <meta name="application-name" content="Qwerty Cube">
    <meta name="msapplication-TileColor" content="#32a0da">
    <meta name="msapplication-config" content="images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#0084ca">
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59660668-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-59660668-3');
    </script>
</head>
<body>
    <div class="root">
        <div class="page page--intro" id="intro">
            <div class="page__content h-100">
                <div class="container-fluid h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="keyboard">
                            <div class="key key--row-1">Q</div><!--
                            --><div class="key key--row-1">W</div><!--
                            --><div class="key key--row-1">E</div><!--
                            --><div class="key key--row-1">R</div><!--
                            --><div class="key key--row-1">T</div><!--
                            --><div class="key key--row-1">Y</div><!--
                            --><br><!--
                            --><div class="key key--row-2">C</div><!--
                            --><div class="key key--row-2">U</div><!--
                            --><div class="key key--row-2">B</div><!--
                            --><div class="key key--row-2">E</div><!--
                            --><div class="key key--row-2 key--enter">Enter</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page--welcome" id="welcome">
            <div class="page__content h-100">
                <div class="container-fluid h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <h2>Alexander Gorishnyak</h2>
                            <h1 class="notranslate"><b>Qwerty</b> Cube</h1>
                            <h3>Web &amp; Desktop Development</h3>
                            <div class="rotation-container">
                                <div class="rotation">
                                    <transition name="tech">
                                        <div class="rotation__element" v-bind:key="rotations[index]">
                                            <img class="rotation__image" v-if="rotations[index]" v-bind:src="'images/technologies/' + rotations[index].toLowerCase() + '.png'">
                                            <p class="rotation__title notranslate">{{ rotations[index] }}</p>
                                        </div>
                                    </transition>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page--projects" id="projects">
            <div class="page__content">
                <div class="projects">
                    <div v-for="project in projects">
                        <project v-bind:project="project"></project>
                    </div>
                </div>
                <div class="websites" id="websites">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-6 col-lg-4" v-for="(website, index) in websites">
                                <website v-bind:website="website" v-bind:index="index"></website>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page--contacts" id="contact">
            <div class="page__content h-100">
                <form method="post" v-on:submit="submit">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2>Contact</h2>
                                <h2 class="splitter">|</h2>
                                <a href="mailto:kefri500@gmail.com" title="Email" target="_blank"><i class="fas fa-envelope"></i></a><!--
                                --><a href="https://github.com/kefir500" title="GitHub" target="_blank"><i class="fab fa-github"></i></a><!--
                                --><a href="https://t.me/kefir500" title="Telegram" target="_blank"><i class="fab fa-telegram-plane"></i></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="menu__item">
            <a href="mailto:kefir500@gmail.com" target="_blank" class="btn-round btn-round--email" title="Email"><i class="fas fa-envelope"></i></a>
        </div>
        <div class="menu__item">
            <a href="https://github.com/kefir500" target="_blank" class="btn-round btn-round--github" title="GitHub"><i class="fab fa-github"></i></a>
        </div>
    </div>
    <div class="pswp" id="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center notranslate"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>
