html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -50px;
	padding: 0 0 50px;
}

#footer {
	color: #999;
	height: 50px;
	padding: 16px;
	background-color: #222;
}