body {
	background-color: #333;
	padding-top: 40px;
	color: #eee;
}

a, #download {
	color: #bd8;
}

a:hover, #download:hover {
	color: #dfa;
}

img {
	padding-bottom: 24px;
}

hr {
	border-top: 1px solid #666;
}

.anchor {
	display: block;
	position: relative;
	top: -60px;
	visibility: hidden;
}

.no-padding {
	padding-left: 17px;
}

h1, h2{
	font-family: opensans;
	margin-top: 8px;
}

.navbar-right li {
	padding-top: 13px;
}

#header {
	background: url(../img/logo.png) no-repeat left center;
	padding-left: 220px;
}

#gears {
	width: 423px;
	height: 72px;
	background: url(../img/gears-header-xmas.png) no-repeat bottom;
}

#tick {
	background: url(../img/tick.png) no-repeat left center;
	padding-left: 34px;
	width: 520px;
	margin: auto;
}

#content {
	background: url(../img/gears-footer.png) no-repeat bottom left;
}

#div-download {
	border-left: 3px solid #6c6;
}

#div-source {
	border-left: 3px solid #6af;
}

#div-translate {
	border-left: 3px solid #f0ad4e;
}

.version-new {
	background: url(../img/version-new.png) no-repeat bottom right;
	min-height: 52px;
}

.version-old {
	background: url(../img/version-old.png) no-repeat bottom right;
	min-height: 52px;
}

/* Bootstrap override */

.jumbotron {
	color: #333;
	background: url(../img/header.png) #dfa repeat-x;
	padding-bottom: 0;
}

.row {
	padding: 32px;
	margin: 0px 0;
}

.btn-default {
	background-color: #ddd;
}

.btn-warning, .btn-warning:hover {
	color: black;
}

.alert-success {
	color: #bd8;
	border: none;
	background-color: #262626;
	font-size: 0.8em;
}

.glyphicon {
	vertical-align: -10%;
}